@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Bootstrap 4 Cryptocurrency statistics table-->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container mt-5">
    <div class="h3 text-muted">My Favorite</div>
    <div id="starred" class="bg-white px-2 pt-1 mt-2">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex mt-2 border-right">
                                <div class="box p-2 rounded"> <span class="fas fa-star text-primary px-1"></span> </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Name</div>
                                <div class="d-flex align-items-center">
                                    <div> <img src="https://www.freepnglogos.com/uploads/bitcoin-png/bitcoin-all-about-bitcoins-9.png" alt="" class="icons"> </div> <b class="pl-2">Bitcoin</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Market cap</div>
                                <div><b>$146,169,768.00</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Price</div>
                                <div><b>$8,536.79</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Volume</div>
                                    <div class="green-label mx-1 px-1 rounded">74</div>
                                </div>
                                <div><b>$7,576,878.89</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Change</div>
                                    <div class="orange-label mx-1 px-1 rounded">20%</div>
                                </div>
                                <div><b class="red">-1.22%</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="graph"> <img src="https://freepngimg.com/thumb/stock_market/25650-5-stock-market-graph-up-transparent-background.png" alt="">
                                <div class="dot"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-lg-flex align-items-lg-center py-4">
        <div class="h3 text-muted">Top Cryptocurrency Prices</div>
        <div class="ml-auto"> <select name="industry" id="industry" class="mx-lg-3 mr-md-4">
                <option value="" hidden selected>Choose Industry</option>
                <option value="dark">Dark Net</option>
            </select> <select name="plat" id="plat">
                <option value="" hidden selected>Choose Platform</option>
                <option value="darkweb">Dark Web</option>
            </select> </div>
    </div>
    <div id="top">
        <div class="bg-white table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex mt-2 border-right">
                                <div class="box p-2 rounded"> <span class="text-primary px-2 font-weight-bold">01</span> </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Name</div>
                                <div class="d-flex align-items-center">
                                    <div> <img src="https://freepngimg.com/thumb/bitcoin/59703-classic-bitcoin-virtual-cryptocurrency-currency-ethereum.png" alt="" class="icons"> </div> <b class="pl-2">Ethereum</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Market cap</div>
                                <div><b>$146,169,768.00</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Price</div>
                                <div><b>$8,536.79</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Volume</div>
                                    <div class="green-label mx-1 px-1 rounded">74</div>
                                </div>
                                <div><b>$7,576,878.89</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Change</div>
                                    <div class="orange-label mx-1 px-1 rounded">20%</div>
                                </div>
                                <div><b class="red">-0.18%</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="graph"> <img src="https://freepngimg.com/thumb/stock_market/25650-5-stock-market-graph-up-transparent-background.png" alt="" id="ethereum"> </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex mt-2 border-right">
                                <div class="box p-2 rounded"> <span class="text-primary px-1 font-weight-bold">02</span> </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Name</div>
                                <div class="d-flex align-items-center">
                                    <div> <img src="https://freepngimg.com/thumb/bitcoin/59526-cryptocurrency-badge-bitcoin-gold-png-file-hd-thumb.png" alt="" class="icons"> </div> <b class="pl-2">Bitcoin cash</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Market cap</div>
                                <div><b>$446,569,768.00</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Price</div>
                                <div><b>$8,836.79</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Volume</div>
                                    <div class="green-label mx-1 px-1 rounded">74</div>
                                </div>
                                <div><b>$7,576,878.89</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Change</div>
                                    <div class="orange-label mx-1 px-1 rounded">20%</div>
                                </div>
                                <div><b class="green">+4.00%</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="graph"> <img src="https://freepngimg.com/thumb/stock_market/25650-5-stock-market-graph-up-transparent-background.png" alt=""> </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex mt-2 border-right">
                                <div class="box p-2 rounded"> <span class="text-primary px-1 font-weight-bold">03</span> </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Name</div>
                                <div class="d-flex align-items-center">
                                    <div> <img src="https://freepngimg.com/thumb/bitcoin/59549-cryptocurrency-money-bitcoin-gold-cash-free-photo-png-thumb.png" alt="" class="icons"> </div> <b class="pl-2">Ripple</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Market cap</div>
                                <div><b>$56,169,768.00</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Price</div>
                                <div><b>$5,536.79</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Volume</div>
                                    <div class="green-label mx-1 px-1 rounded">74</div>
                                </div>
                                <div><b>$17,576,878.89</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Change</div>
                                    <div class="orange-label mx-1 px-1 rounded">20%</div>
                                </div>
                                <div><b class="green">+1.71%</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="graph"> <img src="https://freepngimg.com/thumb/stock_market/25650-5-stock-market-graph-up-transparent-background.png" alt="" id="ripple"> </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex mt-2 border-right">
                                <div class="box p-2 rounded"> <span class="text-primary px-1 font-weight-bold">04</span> </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Name</div>
                                <div class="d-flex align-items-center">
                                    <div> <img src="https://freepngimg.com/thumb/bitcoin/59842-cryptocurrency-bitfinex-bitcoin-exchange-png-download-free-thumb.png" alt="" class="icons"> </div> <b class="pl-2">EOS</b>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Market cap</div>
                                <div><b>$12,169,768.00</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="text-muted">Price</div>
                                <div><b>$14.79</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Volume</div>
                                    <div class="green-label mx-1 px-1 rounded">74</div>
                                </div>
                                <div><b>$76,878.89</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center labels">
                                    <div class="text-muted">Change</div>
                                    <div class="orange-label mx-1 px-1 rounded">20%</div>
                                </div>
                                <div><b class="red">-5.86%</b></div>
                            </div>
                        </td>
                        <td>
                            <div class="graph"> <img src="https://freepngimg.com/thumb/stock_market/25650-5-stock-market-graph-up-transparent-background.png" alt="" id="eos"> </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center py-2">
        <div> <a href="#">Load more <span class="text-white">26</span></a> </div>
    </div>
</div>

<!--Bootstrap 5 ecommerce product attributes comparison table-->
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="simple-head">
                    <th width="20%">
                        <div class="bg-white h-100 w-100"> </div>
                    </th>
                    <th width="20%">
                        <div class="mb-2">
                            <div class="d-flex justify-content-between align-items-center"> <img src="https://m.media-amazon.com/images/I/61WNxdAeAoL._AC_SS350_.jpg" width="50"> <span class="d-block text-custom-truncate ml-1">Lenovo IdeaPad Slim 5i 11th Gen Intel Core i5 15.6” FHD IPS Thin & Light Laptop (8GB/1TB HDD+256GB</span> </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0">₹ 68,500.00</h6> <button class="btn btn-sm btn-primary">Add to cart</button>
                            </div>
                        </div>
                    </th>
                    <th width="20%">
                        <div class="mb-2">
                            <div class="d-flex justify-content-between align-items-center"> <img src="https://m.media-amazon.com/images/I/61WNxdAeAoL._AC_SS350_.jpg" width="50"> <span class="d-block text-custom-truncate ml-1">Lenovo IdeaPad Slim 5i 11th Gen Intel Core i5 15.6” FHD IPS Thin & Light Laptop (8GB/1TB HDD+256GB</span> </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0">₹ 68,500.00</h6> <button class="btn btn-sm btn-primary">Add to cart</button>
                            </div>
                        </div>
                    </th>
                    <th width="20%">
                        <div class="mb-2">
                            <div class="d-flex justify-content-between align-items-center"> <img src="https://m.media-amazon.com/images/I/61WNxdAeAoL._AC_SS350_.jpg" width="50"> <span class="d-block text-custom-truncate ml-1">Lenovo IdeaPad Slim 5i 11th Gen Intel Core i5 15.6” FHD IPS Thin & Light Laptop (8GB/1TB HDD+256GB</span> </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0">₹ 68,500.00</h6> <button class="btn btn-sm btn-primary">Add to cart</button>
                            </div>
                        </div>
                    </th>
                    <th width="20%">
                        <div class="mb-2">
                            <div class="d-flex justify-content-between align-items-center"> <img src="https://m.media-amazon.com/images/I/61WNxdAeAoL._AC_SS350_.jpg" width="50"> <span class="d-block text-custom-truncate ml-1">Lenovo IdeaPad Slim 5i 11th Gen Intel Core i5 15.6” FHD IPS Thin & Light Laptop (8GB/1TB HDD+256GB</span> </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0">₹ 68,500.00</h6> <button class="btn btn-sm btn-primary">Add to cart</button>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Processor Name</th>
                    <td class="base-item">Core i5</td>
                    <td>Core i5</td>
                    <td>Core i7</td>
                    <td>R Series</td>
                </tr>
                <tr>
                    <th scope="row">Screen Size</th>
                    <td class="base-item">15.6 in</td>
                    <td>15.6 in</td>
                    <td>14.6 in</td>
                    <td>16 in</td>
                </tr>
                <tr>
                    <th>Operating system</th>
                    <td class="base-item">Windows 10</td>
                    <td>Windows 10 Home</td>
                    <td>Windows 8</td>
                    <td>Windows 10 pro</td>
                </tr>
                <tr>
                    <th scope="row">Processor Name</th>
                    <td class="base-item">Core i5</td>
                    <td>Core i5</td>
                    <td>Core i7</td>
                    <td>R Series</td>
                </tr>
                <tr>
                    <th scope="row">Screen Size</th>
                    <td class="base-item">15.6 in</td>
                    <td>15.6 in</td>
                    <td>14.6 in</td>
                    <td>16 in</td>
                </tr>
                <tr>
                    <th>Operating system</th>
                    <td class="base-item">Windows 10</td>
                    <td>Windows 10 Home</td>
                    <td>Windows 8</td>
                    <td>Windows 10 pro</td>
                </tr>
                <tr>
                    <th scope="row">Processor Name</th>
                    <td class="base-item">Core i5</td>
                    <td>Core i5</td>
                    <td>Core i7</td>
                    <td>R Series</td>
                </tr>
                <tr>
                    <th scope="row">Screen Size</th>
                    <td class="base-item">15.6 in</td>
                    <td>15.6 in</td>
                    <td>14.6 in</td>
                    <td>16 in</td>
                </tr>
                <tr>
                    <th>Operating system</th>
                    <td class="base-item">Windows 10</td>
                    <td>Windows 10 Home</td>
                    <td>Windows 8</td>
                    <td>Windows 10 pro</td>
                </tr>
                <tr>
                    <th scope="row">Processor Name</th>
                    <td class="base-item">Core i5</td>
                    <td>Core i5</td>
                    <td>Core i7</td>
                    <td>R Series</td>
                </tr>
                <tr>
                    <th scope="row">Screen Size</th>
                    <td class="base-item">15.6 in</td>
                    <td>15.6 in</td>
                    <td>14.6 in</td>
                    <td>16 in</td>
                </tr>
                <tr>
                    <th>Operating system</th>
                    <td class="base-item">Windows 10</td>
                    <td>Windows 10 Home</td>
                    <td>Windows 8</td>
                    <td>Windows 10 pro</td>
                </tr>
                <tr>
                    <th scope="row">Processor Name</th>
                    <td class="base-item">Core i5</td>
                    <td>Core i5</td>
                    <td>Core i7</td>
                    <td>R Series</td>
                </tr>
                <tr>
                    <th scope="row">Screen Size</th>
                    <td class="base-item">15.6 in</td>
                    <td>15.6 in</td>
                    <td>14.6 in</td>
                    <td>16 in</td>
                </tr>
                <tr>
                    <th>Operating system</th>
                    <td class="base-item">Windows 10</td>
                    <td>Windows 10 Home</td>
                    <td>Windows 8</td>
                    <td>Windows 10 pro</td>
                </tr>
                <tr>
                    <th scope="row">Processor Name</th>
                    <td class="base-item">Core i5</td>
                    <td>Core i5</td>
                    <td>Core i7</td>
                    <td>R Series</td>
                </tr>
                <tr>
                    <th scope="row">Screen Size</th>
                    <td class="base-item">15.6 in</td>
                    <td>15.6 in</td>
                    <td>14.6 in</td>
                    <td>16 in</td>
                </tr>
                <tr>
                    <th>Operating system</th>
                    <td class="base-item">Windows 10</td>
                    <td>Windows 10 Home</td>
                    <td>Windows 8</td>
                    <td>Windows 10 pro</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Bootstrap 4 simple white pricing tables-->

<div class="container d-flex justify-content-center pt-5 pricing-table" style="max-width: 70%;">
    <div class="row">
        <!-- price start -->
        <div class="col-md-4 rounded-left border-right text-center bg-light text-dark table-pricing"> <sup class="text-sm" style="top: -0.5em">$</sup><span class="h1">4</span><sup class="text-sm" style="top: -0.5em"> / mo</sup>
            <div class="text-muted">Personal</div> <!-- button -->
            <div class="py-4"><a href="#" class="btn btn-sm btn-rounded btn-info" data-abc="true">Purchase</a></div> <!-- enbutton -->
            <!-- items -->
            <div class="text-muted item-list">
                <p><small class="text-muted"><strong>Unlimited</strong> Diskspace</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> Bandwidth</small></p>
                <p><small class="text-muted"><strong>1</strong> Domain</small></p>
                <p><small class="text-muted"><strong>10</strong> Sub Domains</small></p>
                <p><small class="text-muted"><strong>5</strong> Email Accounts</small></p>
                <p><small class="text-muted"><strong>1</strong> MySQL Database</small></p>
                <p><small class="text-muted"><strong>Free</strong> Script Installer</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> FTP Accounts</small></p>
                <p><small class="text-muted"><strong>Free</strong> SSL*</small></p>
            </div> <!-- button -->
            <div class="py-4"><a href="#" class="btn btn-sm btn-rounded btn-info" data-abc="true">Purchase</a></div> <!-- end button -->
        </div> <!-- price end -->
        <!-- price start -->
        <div class="col-md-4 border-right text-center bg-light text-dark table-pricing"> <sup class="text-sm" style="top: -0.5em">$</sup><span class="h1">8</span><sup class="text-sm" style="top: -0.5em"> / mo</sup>
            <div class="text-muted">Monthly</div> <!-- button -->
            <div class="py-4"><a href="https://drummerboyhosting.com/clients/whmcs/cart.php?a=add&amp;pid=14" class="btn btn-sm btn-rounded btn-info" data-abc="true">Purchase</a></div> <!-- items -->
            <div class="text-muted item-list">
                <p><small class="text-muted"><strong>Unlimited</strong> Diskspace</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> Bandwidth</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> Domain</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> Sub Domains</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> Email Accounts</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> MySQL Database</small></p>
                <p><small class="text-muted"><strong>Free</strong> Script Installer</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> FTP Accounts</small></p>
                <p><small class="text-muted"><strong>Free</strong> SSL* 1</small></p>
            </div>
            <div class="py-4"><a href="#" class="btn btn-sm btn-rounded btn-info" data-abc="true">Purchase</a></div>
        </div> <!-- price end -->
        <!-- price start -->
        <div class="col-md-4 rounded-right text-center bg-light text-dark table-pricing"> <sup class="text-sm" style="top: -0.5em">$</sup><span class="h1">4</span><sup class="text-sm" style="top: -0.5em"> / mo</sup>
            <div class="text-muted">Monthly</div>
            <div class="py-4"><a href="https://drummerboyhosting.com/clients/whmcs/cart.php?a=add&amp;pid=16" class="btn btn-sm btn-rounded btn-info" data-abc="true">Purchase</a></div> <!-- items -->
            <div class="text-muted item-list">
                <p><small class="text-muted"><strong>Unlimited</strong> Diskspace</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> Bandwidth</small></p>
                <p><small class="text-muted"><strong>10</strong> Domain</small></p>
                <p><small class="text-muted"><strong>10</strong> Sub Domains</small></p>
                <p><small class="text-muted"><strong>20</strong> Email Accounts</small></p>
                <p><small class="text-muted"><strong>10</strong> MySQL Database</small></p>
                <p><small class="text-muted"><strong>Free</strong> Script Installer</small></p>
                <p><small class="text-muted"><strong>Unlimited</strong> FTP Accounts</small></p>
                <p><small class="text-muted"><strong>Free</strong> SSL*</small></p>
            </div>
            <div class="py-4"><a href="https://drummerboyhosting.com/clients/whmcs/cart.php?a=add&amp;pid=16" class="btn btn-sm btn-rounded btn-info" data-abc="true">Purchase</a></div>
        </div> <!-- price end -->
        <p><small class="text-white"><strong>*</strong>available upon request. Limited to one domain only.</small></p>
    </div>
</div>

<!--Pure CSS animated switch button-->

<label class="radio-button"> <input type="checkbox">
    <radio-button-element></radio-button-element>
</label>

<!--Bootstrap 4 Fade In animation button onclick-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center"> <button type="button" id="animatebutton" class="btn btn-success btn-icon-text animatebutton"> <i class="fa fa-check btn-icon-prepend"></i> CLICK ME </button> </div>
    </div>
</div>

<!--Bootstrap 4 Simple Horizontal ON/OFF switch animation-->

<div class="padding">
    <div class="switch demo3"> <input type="checkbox"> <label><i></i></label> </div>
</div>

<!--Bootstrap 4 Wobble animation button onclick-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center"> <button type="button" id="animatebutton" class="btn btn-warning btn-icon-text animatebutton"> <i class="fa fa-check btn-icon-prepend"></i> CLICK ME </button> </div>
    </div>
</div>


<!--Bootstrap 4 Flip In X animation button onclick-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center"> <button type="button" id="animatebutton" class="btn btn-warning btn-icon-text animatebutton"> <i class="fa fa-check btn-icon-prepend"></i> CLICK ME </button> </div>
    </div>
</div>

<!--Bootstrap 4 Bounce Out Right animation button onclick-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center"> <button type="button" id="animatebutton" class="btn btn-success btn-icon-text animatebutton"> <i class="fa fa-check btn-icon-prepend"></i> CLICK ME </button> </div>
    </div>
</div>

<!--Bootstrap 4 Zoom In Up animation button click-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center"> <button type="button" id="animatebutton" class="btn btn-warning btn-icon-text animatebutton"> <i class="fa fa-check btn-icon-prepend"></i> CLICK ME </button> </div>
    </div>
</div>

<!--Bootstrap 4 Bounce Out Down animation button onclick-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center"> <button type="button" id="animatebutton" class="btn btn-success btn-icon-text animatebutton"> <i class="fa fa-check btn-icon-prepend"></i> CLICK ME </button> </div>
    </div>
</div>

<!--Bootstrap 4 Bounce In animation button onclick-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center"> <button type="button" id="animatebutton" class="btn btn-success btn-icon-text animatebutton"> <i class="fa fa-check btn-icon-prepend"></i> CLICK ME </button> </div>
    </div>
</div>

<!--Bootstrap 4 Rotate Out Up Right animation button onclick-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center"> <button type="button" id="animatebutton" class="btn btn-warning btn-icon-text animatebutton"> <i class="fa fa-check btn-icon-prepend"></i> CLICK ME </button> </div>
    </div>
</div>